.card {
  perspective: 1000px;
  width: 100%;
  height: 500px;
  position: relative;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  color: var(--card-text-grey);
  border: var(--muted) 1px solid;
  border-radius: 8px;
  background-color: var(--card);
  padding: 24px;
  box-sizing: border-box;
  overflow: hidden;
}

.card-front {
  z-index: 2;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-front:hover {
  transform: translateY(-4px);
}

.card-back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: var(--card-text-grey);
  overflow-y: auto;
}

span {
  display: flex;
  align-items: center;
  gap: 8px;
}

.card-mission {
  margin-bottom: 12px;
}

.cabezera-card {
  margin-bottom: 12px;
  font-family: var(--inter);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.card-tmb {
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}

.card-tmb img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card-tmb img:hover {
  transform: scale(1.05);
}

img:hover {
  transform: scale(1.05);
}

.sticker-mission {
  width: 180px;
}

.card-info {
  padding: 12px 0;
  display: flex;
  gap: 4rem;
}

.card-pild {
  margin-bottom: 18px;
  font-weight: 700;
  width: fit-content;
  text-align: center;
  padding: 2px 10px;
  border-radius: 10px;
  background-color: var(--pild-bg);
  color: var(--pild-text);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 8px;
  padding: 12px 8px;
  background-color: var(--button);
  color: white;
  font-weight: 700;
  border: none;
}

button:hover {
  background-color: var(--button-hover);
  cursor: pointer;
}

.heart-btn {
  padding: 8px;
  background-color: transparent;
}