@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --title: #3381ff;
  --blue: #3381ff;
  --blue-hover: #1f6fe0;
  --background: #16171a;
  --card-text: #fafafa;
  --card-text-grey: #8f96a3;
  --pild-text: #E2E4E9;
  --button: #ff4c6d;
  --button-hover: #fe3c6d;
  --pild-bg: #363D49;
  --card: #242529;
  --muted: #353a45;
  --space-grotesk: "Space Grotesk", sans-serif;
  --inter: "Inter", sans-serif;
  --monospace: monospace
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--monospace);
  background-color: var(--background);
}